@import "_variables.scss";
.admin {
  .lists {
    padding: 10px;
    .list__table__head {
      height: 40px;
    }
  }
}
.images_list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  .images_item {
    border: 1px solid $primary-color;
    padding: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}
.admin__image {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.upload__images {
  padding: 10px;
  width: 100%;
  min-height: 100px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px dashed $primary-color;
  border-radius: 7px;
  .upload__images__item {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}
