@import "_variables.scss";

.footer__desktop {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;

  .footer__content {
    padding: 20px 0;
    display: flex;
    flex: 1 1 auto;
    font-size: 14px;

    .information,
    .contacts {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 5px;

      p {
        margin-bottom: 5px;
        font-weight: 600;
      }

      a {
        color: #212529;
      }
    }
  }

  .created__by {
    background-color: $primary-color;
    padding: 10px 0;
    font-weight: 600;

    a {
      color: black;
    }
  }
}

.footer__phone {
  color: black;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

@media (max-width: 991px) {
  .information {
    margin-bottom: 20px;
  }
}

.footer__mobile {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #f8f9fa;

  .footer__mobile__content {
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    .footer__mobile__item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 9px;

      text-align: center;
      letter-spacing: -0.02em;

      color: #8e8e98;
    }
  }
}

@media (min-width: 500px) {
  .footer__mobile {
    display: none;
  }
}
@media (max-width: 500px) {
  .footer__desktop {
    display: none;
  }
}
