.home__page {
  display: flex;
  align-items: center;
  background: no-repeat;
  background-position: left;
  background-image: url(../../media/background.png);
  background-size: cover;

  .home__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    span {
      font-size: 35px;
    }
  }
}
